

body{
	background-color:dimgray;
	}
a{
	font-family: 'PT Sans', sans-serif;
	font-weight: 300;
	font-size: 13px; 
	text-decoration:none;
	}
a:visited{
	color:whitesmoke;
	}
a:hover{
	color:darkgray; 
	}

header {
    margin: auto;
    margin-top: 50px;
    height: 250px;
    width: 800px;
    border: 2px solid black;  
}

#wrapper {
	font-family: 'PT Sans', sans-serif;
	font-weight: 300;
	font-size: 13px; 
	color:white; 
    margin-left: 300px;
}

#rightcolumn {
    margin-top: 75px;
    float:left;
}

#leftcolumn {
    margin-top: 75px;
    float: left;
}

#media img:hover{
	opacity: 0.3;
	transition-duration: .5s;
	}
	
#media{
	display:block;
    text-align: center;
	margin:auto;
	position:fixed;
	width:100%;
    bottom:0px;
	}
	
	
	
