* {
    margin: 0px;
    padding: 0px;
}

body{
	background-color:dimgray;
}

header {
    margin: auto;
    margin-top: 50px;
    height: 250px;
    width: 800px;
    border: 2px solid black; 
}

h2 {
    padding-bottom: 10px;
}

header#mySketch {
    margin: 24px auto 0px auto;
    border:1px #ddd solid;
    height: 250px;
    width: 800px;
}

#wrapper {
    font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 13px; 
	color:white; 
    margin-left: 650px;
}

#rightcolumn {
    width:300px;
    margin-top: 55px;
    padding-bottom: 100px;
    float:left;
}

#leftcolumn {
    width:200px;
    margin-top: 55px; 
    float: left;
}

section a{
	font-size: 13px; 
	text-decoration:none;
    color:whitesmoke;
	}
section a:visited{
	color:whitesmoke;
	}
section a:hover{
	color:darkgray;
    text-decoration:overline;
	}

#media img:hover{
	opacity: 0.5;
	transition-duration: .5s;
	}
	
#media{
	display:block;
    text-align: right;
	margin:auto;
	position:fixed;
    width:100%;
    right: 10px;
    bottom: 3px;
	}

footer {
    display:block;
	margin:auto;
	position:fixed;
    left: 3px;
    bottom:0px;
}

footer a{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;
	font-size: 23px; 
	color:grey; 
	text-decoration:none;
	}
footer a:visited{
	color:grey;
	}
footer a:hover{
	color:#fff; 
    opacity: 0.5;
	transition-duration: .5s;
	}

